objs/
dist/README-SDL.txt
dist/README-glm.txt
dist/README-libpng.txt
dist/game.ilk
dist/game.pdb
dist/SDL2.dll
dist/game
dist/game.exe
scenes/show-meshes*
scenes/show-scene*
scenes/.DS_Store
*.blend[0-9]
.vs/CGP-Final-YogurtCoffee/v16/Browse.VC.db
.vs/CGP-Final-YogurtCoffee/v16/Browse.VC.db-shm
.vs/CGP-Final-YogurtCoffee/v16/Browse.VC.db-wal
.vs/CGP-Final-YogurtCoffee/v16/Browse.VC.opendb
.vs/slnx.sqlite
.vs/CGP-Final-YogurtCoffee/v16/Browse.VC.db
.vs/slnx.sqlite
.vs/CGP-Final-YogurtCoffee/v16/Browse.VC.db
.vs/slnx.sqlite
.DS_Store
*.sqlite
*.db
